body{
    background-color: white;
    margin: 0;
    padding: 0;
}

button{
    font-size: inherit;
}

.global{
    margin: 10px;
}

.topBtns{
    display: flex;
    justify-content: space-between;
}

.topBtns{
    font-size: 40px;
}

.centerWrap{
    text-align: center;
}

.text{
    text-align: center;
    font-size: 40px;
    max-width: 1200px;
    display: inline-block;
}

.loseInstructions{
    text-align: center;
}

.middleSection{
}

@media (min-width: 1000px) {
    .caracteristics{
        width: 33%;
        position: absolute;
    }
}

@media (max-width: 1000px) {
    .topBtns{
        font-size: 30px;
    }
}

@media (min-width: 750px) and (max-width: 1000px) {
    .caracteristics{
        width: 20%;
        position: absolute;
    }
}

.caracteristics{
    margin-top: 25px;
}

@media (min-width: 1400px){
    .caracteristics div{
        width: 420px;
    }

    .caracteristics{
        text-align: right;
    }
}
.caracteristics div{
    text-align: left;
    display: inline-block;
    margin-right: 35px;
}

.rules{
    text-align: center;
    font-size: 30px;
    margin-top: 25px;
}

.game{
    text-align: center;
    font-size: 30px;
    margin-top: 25px;
    vertical-align: middle;
}

.inlineBlock{
    display: inline-block;
}

.winBtn{
    width: 0; 
    height: 0; 
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 200px solid blue;
}

.loseBtn{
    width: 200px;
    height: 200px;
    background-color: red;
    margin-left: 100px;
}

@media (max-width: 520px) {
    .loseBtn{
        width: 100px;
        height: 100px;
        margin-left: 50px;
    }

    .winBtn{
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        border-bottom: 100px solid blue;
    }

    .rules{
        font-size: 20px;
        margin-top: 15px;
    }
    
    .game{
        font-size: 25px;
    }
    
    .caracteristics p{
        font-size: 15px;
        margin: 5px 0;
    }
}

@media (max-width: 700px) {
    .topBtns{
        font-size: 25px;
    }
}

@media (max-width: 600px) {
    .topBtns{
        font-size: 20px;
    }
}

@media (max-width: 475px) {
    .topBtns{
        font-size: 15px;
    }
}

@media (max-width: 265px) {
    .loseBtn{
        margin-left: 0px;
    }
}

img{
    vertical-align: middle;
    width: 33%;
}

.winScore{
    margin-top: 50px;
}

.hidden{
    display: none;
}

.history .popup{
    position: fixed;
    background: lightgray;
    height: 98%;
    width: 95%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.97;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid darkgray;
    z-index: 2;
    max-width: 1000px;
}

.history .top{
    padding: 5px 10px;
    text-align: right;
}

.history .content{
    overflow: scroll;
    height: inherit;
}

.history .background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: lightgray;
    opacity: 0.5;
}
