body{
    background-color: white;
}

.restart{
    font-size: 40px;
}

.textLink{
    float: right;
    font-size: 40px;
}

.centerWrap{
    text-align: center;
}

.text{
    text-align: center;
    font-size: 40px;
    max-width: 1200px;
    display: inline-block;
}

.loseInstructions{
    text-align: center;
}

.middleSection{
}

@media (min-width: 1000px) {
    .caracteristics{
        width: 33%;
        position: absolute;
    }
}

@media (min-width: 750px) and (max-width: 1000px) {
    .caracteristics{
        width: 20%;
        position: absolute;
    }
}

.caracteristics{
    margin-top: 25px;
}

@media (min-width: 1400px){
    .caracteristics div{
        width: 420px;
    }

    .caracteristics{
        text-align: right;
    }
}
.caracteristics div{
    text-align: left;
    display: inline-block;
    margin-right: 35px;
}

.rules{
    text-align: center;
    font-size: 30px;
    margin-top: 25px;
}

.game{
    text-align: center;
    font-size: 30px;
    margin-top: 25px;
    vertical-align: middle;
}

.inlineBlock{
    display: inline-block;
}

.winBtn{
    width: 0; 
    height: 0; 
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 200px solid blue;
}

.loseBtn{
    width: 200px;
    height: 200px;
    background-color: red;
    margin-left: 100px;
}

@media (max-width: 515px) {
    .loseBtn{
        width: 100px;
        height: 100px;
        margin-left: 50px;
    }

    .winBtn{
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        border-bottom: 100px solid blue;
    }

    .rules{
        font-size: 46px;
    }
    
    .game{
        font-size: 60px;
    }
    
    .text{
        font-size: 80px;
    }
    
    .caracteristics{
        font-size: 32px;
    }
}
@media (max-width: 265px) {
    .loseBtn{
        margin-left: 0px;
    }
}

.threeImgs img{
    vertical-align: middle;
    width: 33%;
    min-width: 175px;
}

.winScore{
    margin-top: 50px;
}

.hidden{
    display: none;
}
