body{
    background-color: white;
}

.textLink{
    float: right;
}

.text{
    text-align: center;
    font-size: 40px;
}

.loseInstructions{
    text-align: center;
}

.middleSection{
}

@media (min-width: 750px) {
    .caracteristics{
        width: 33%;
    }
}

.caracteristics{
    display: inline-block;
    vertical-align: middle;
    text-align: right;
}

.caracteristics div{
    width: fit-content;
    text-align: left;
    display: inline-block;
    margin-right: 35px;
}

.rules{
    text-align: center;
    font-size: 30px;
    margin-top: 25px;
}

.game{
    text-align: center;
    font-size: 30px;
    margin-top: 25px;
    display: inline-block;
    vertical-align: middle;
}

.inlineBlock{
    display: inline-block;
}

.winBtn{
    width: 0; 
    height: 0; 
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 200px solid blue;
}

.loseBtn{
    width: 200px;
    height: 200px;
    background-color: red;
    margin-left: 100px;
}

.winScore{
    margin-top: 50px;
}

.hidden{
    display: none;
}
