.ready, .reset{
    display: block;
    margin: 0 auto;
    font-size: 36px;
    cursor: pointer;
    margin-bottom: 25px;
}

.boardError{
    font-size: 36px;
    text-align: center;
}

.status{
    display: inline-block;
}

.grids {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}
.row {
    height: 40px;
}
.gridItem {
    border: 1px solid black;
    width: 40px;
    height: 40px;
    display: inline-block;
    vertical-align: top;
}

.decoy {
    text-align: center;
    font-size: 30px;
    display: none;
}

.playerGrid .row .gridItem.boat {
    background: black;
}

.moveFeedback{
    text-align: center;
    font-size: 50px;
}

.moveFeedback div{
    display: none;
}

.playerGrid.locked .gridItem{
    background: gainsboro;
}

.hidden{
    display: none;
}

.transition, .inputBlock{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}
.transition{
    background: darkgray;
    font-size: 36px;;
    color: white;
    text-align: center;
}

.transition .txt{
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

.gameStatus, .yourField, .attackField{
    text-align: center;
}

.gameOver{
text-align: center;
font-size: 76px;
position: fixed;
width: 100%;
height: 100%;
top: 25%;
text-shadow: -1px -1px 0px #fff, 0px -1px 0px #fff, 1px -1px 0px #fff, -1px 0px 0px #fff, 1px 0px 0px #fff, -1px 1px 0px #fff, 0px 1px 0px #fff, 1px 1px 0px #fff;
}
